# Temporary files
*.swp
*.ropeproject
*.pyc

# Data files
*.json
*.hdf5
*.ckpt

# Ipython notebook
.ipynb_checkpoints
*.ipynb

# Data directories
data/VisualGenome
data/GloVe
data/preprocessed

# Training results
train_dir
old_train_dir
