# Temporary files
*.swp
*.ropeproject
*.pyc

# Data files
*.json
*.hdf5
*.ckpt

# Ipython notebook
.ipynb_checkpoints
*.ipynb

# Data directories
data/VisualGenome
data/VQA_v2
data/GloVe
data/preprocessed

# Training results
train_dir
experiments
